*{

    background-color: blueviolet;
    color: yellow;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;

}

nav{
    padding-left: 3%;
}
