nav {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 1000;
    background-color: rgb(133, 225, 3);

}

.shifted {
    position: relative;
    top: 10px;
    right: 30px;
    left: 10px;
    bottom: 30px;

}




.card {
    background-color: brown;
    width: 60px;
    margin: 30px;
    position: relative;
    left: 30px;
    top: 30px;
}

.horizenter {

    display: inline-block;

}

/*
text 
*/
/*
1rem = 16px
1.5rem =24px
2rem= 32px
0.75rem = 12px
*/


/*
text  
*/
/*
1em = 16px
1.5em =24px
2em= 32px
0.75em = 12px
*/

/*
text  
*/
/*
نسبة الى الشاشة حصراً
vw = viewport width -- 1vw = 1% من عرض الشاشة
vh = viewport height -- 1vh = 1% من ارتفاع الشاشة
*/


.hero {
    width: 100vw;
    height: 100vh;
    /*  vmin 
vmax */

}

.container16 {
    margin-top: 20px;
    border-style: double;

    font-size: 64px;
    /*font-size: 2rem;*/

    width: 90%;
    max-width: 1280px;
    margin: 0 auto;



    display: grid;
    /*grid-template-columns: 25% 25% 25%  25%;*/
    /*
    grid-template-rows: 25% 25% 25%  25%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr ;
    grid-template-columns: 1fr 1fr 1fr;
    */

    /*
    mobile  320 - 375
        390-414px
        430px - 480px
    tablet   600px -768px- *****-- 800 -- 1024px  

    laptops   1024px-1280px
                1280px-1440px


                fluid grids 
                flexible images

                media queries


    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);

    gap: 16px;
*/
}

.sidebar{

    width: calc(30px + 1rem);
}
/*
.item-a {
    grid-column: 1;
    grid-row: 1;
}

.item-b {
    grid-column: 2;
    grid-row: 1;
}

.item-c {
    grid-column: 3;
    grid-row: 1;
}

.item-header{
    grid-column: 1/3;
    grid-row: 1/2;
}
    */
.item {
    margin: 20px;
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: dashed;


    font-size: 2em;

}

.nav-item {
    flex: 1;
}

.main {
    flex: 1;
}

.sidebar {
    flex: 0 0 280px;
}

.hh1 {

    background-color: rgb(2, 235, 181);
    color: blue;
    margin: 30px;
    justify-content: center;
    text-justify: auto;
    direction: rtl;
    padding: 20px;

}


.truncated-text {

    /*  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    max-width: 100%;
}


/*POSITIONS*/
.KKK1 {
    position: absolute;
    position: fixed;
    position: relative;
    position: sticky;
    position: static;
}


.old-center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flexbox  */