nav {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 1000;
    background-color: rgb(133, 225, 3);

}

.shifted {
    position: relative;
    top: 10px;
    right: 30px;
    left: 10px;
    bottom: 30px;

}




.card {
    background-color: brown;
    width: 60px;
    margin: 30px;
    position: relative;
    left: 30px;
    top: 30px;
}

.horizenter {

    display: inline-block;

}


.container16 {
    margin-top: 20px;
    display: flex;
}





.hh1 {

    background-color: rgb(2, 235, 181);
    color: blue;
    margin: 30px;
    justify-content: center;
    text-justify: auto;
    direction: rtl;
    padding: 20px;

}


.truncated-text {

    /*  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    max-width: 100%;
}


/*POSITIONS*/
.KKK1 {
    position: absolute;
    position: fixed;
    position: relative;
    position: sticky;
    position: static;
}


.old-center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flexbox  */